In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('Cancer_Data.csv')
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [ ]:
pip install openpyxl

In [27]:
df2 = pd.read_excel('fastfood.xlsx')
df2.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other

In [28]:
df2.to_excel('ex.xlsx', index=False)

In [29]:
df2.set_index('item')
df2.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other

In [34]:
df2.reset_index()
df2

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [35]:
df2.columns

Index(['restaurant', 'item', 'calories', 'cal_fat', 'total_fat', 'sat_fat',
       'trans_fat', 'cholesterol', 'sodium', 'total_carb', 'fiber', 'sugar',
       'protein', 'vit_a', 'vit_c', 'calcium', 'salad'],
      dtype='object')

In [36]:
list(df2.columns)

['restaurant',
 'item',
 'calories',
 'cal_fat',
 'total_fat',
 'sat_fat',
 'trans_fat',
 'cholesterol',
 'sodium',
 'total_carb',
 'fiber',
 'sugar',
 'protein',
 'vit_a',
 'vit_c',
 'calcium',
 'salad']

In [37]:
df2[df2['calories']<300]

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
14,Mcdonalds,Hamburger,250,70,8,3,0,30,480,31,2.0,6,13.0,2.0,2.0,4.0,Other
15,Mcdonalds,Lobster Roll,290,50,5,2023-05-01 00:00:00,0,65,630,35,2.0,3,24.0,4.0,6.0,15.0,Other
40,Mcdonalds,4 Piece Chicken McNuggets,180,100,11,2,0,30,340,11,1.0,0,10.0,0.0,2.0,0.0,Other
41,Mcdonalds,6 Piece Chicken McNuggets,270,140,16,2023-05-02 00:00:00,0,45,510,16,1.0,0,15.0,0.0,2.0,0.0,Other
48,Mcdonalds,Premium Asian Salad w/o Chicken,140,70,7,0.5,0,0,20,13,5.0,7,7.0,180.0,45.0,10.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,Taco Bell,Chipotle Crispy Chicken Griller,290,170,18,3,0,25,640,22,1.0,1,9.0,NaN,NaN,NaN,Other
496,Taco Bell,Double Tostada,270,100,11,4,0,15,650,32,8.0,2,12.0,NaN,NaN,NaN,Other
500,Taco Bell,MexiMeltÂ®,270,130,14,7,1,40,740,21,3.0,2,14.0,NaN,NaN,NaN,Other
504,Taco Bell,Shredded Chicken Mini Quesadilla,180,70,8,2023-05-02 00:00:00,0,25,540,15,2.0,1,12.0,NaN,NaN,NaN,Other
506,Taco Bell,Spicy Tostada,200,90,10,2023-05-02 00:00:00,0,10,440,22,4.0,1,7.0,NaN,NaN,NaN,Other

In [39]:
df2.loc[1, 'item']

'Single Bacon Smokehouse Burger'

In [42]:
df2.loc[50:60,['item', 'calories']]

                                            item  calories
50         Premium Asian Salad w/ Crispy Chicken       490
51         Premium Bacon Ranch Salad w/o Chicken       190
52  Premium Bacon Ranch Salad w/ Grilled Chicken       320
53   Premium Bacon Ranch Salad w/ Crispy Chicken       490
54           Premium Southwest Salad w/o Chicken       220
55    Premium Southwest Salad w/ Grilled Chicken       350
56     Premium Southwest Salad w/ Crispy Chicken       520
57             Chargrilled Chicken Club Sandwich       430
58                  Chargrilled Chicken Sandwich       310
59                                Chick-n-Slider       270
60                        1 Piece Chick-n-Strips       120

In [44]:
df2.iloc[50:60, 0:5]

,restaurant,item,calories,cal_fat,total_fat
50,Mcdonalds,Premium Asian Salad w/ Crispy Chicken,490,250,28
51,Mcdonalds,Premium Bacon Ranch Salad w/o Chicken,190,110,12
52,Mcdonalds,Premium Bacon Ranch Salad w/ Grilled Chicken,320,120,14
53,Mcdonalds,Premium Bacon Ranch Salad w/ Crispy Chicken,490,250,28
54,Mcdonalds,Premium Southwest Salad w/o Chicken,220,90,10
55,Mcdonalds,Premium Southwest Salad w/ Grilled Chicken,350,100,12
56,Mcdonalds,Premium Southwest Salad w/ Crispy Chicken,520,230,25
57,Chick Fil-A,Chargrilled Chicken Club Sandwich,430,144,16
58,Chick Fil-A,Chargrilled Chicken Sandwich,310,54,6
59,Chick Fil-A,Chick-n-Slider,270,99,11

In [53]:
fastfood = pd.read_excel('fastfood.xlsx')
fastfood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    object
 6   trans_fat    515 non-null    object
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(5), int64(7), object(5)
memory usage: 68.5+ KB

In [48]:
fastfood.shape

(515, 17)

In [52]:
fastfood.describe().round(1)

,calories,cal_fat,total_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium
count,515.0,515.0,515.0,515.0,515.0,515.0,503.0,515.0,514.0,301.0,305.0,305.0
mean,530.9,238.8,26.6,72.5,1246.7,45.7,4.1,7.3,27.9,18.9,20.2,24.9
std,282.4,166.4,18.4,63.2,690.0,24.9,3.0,6.8,17.7,31.4,30.6,25.5
min,20.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25%,330.0,120.0,14.0,35.0,800.0,28.5,2.0,3.0,16.0,4.0,4.0,8.0
50%,490.0,210.0,23.0,60.0,1110.0,44.0,3.0,6.0,24.5,10.0,10.0,20.0
75%,690.0,310.0,35.0,95.0,1550.0,57.0,5.0,9.0,36.0,20.0,30.0,30.0
max,2430.0,1270.0,141.0,805.0,6080.0,156.0,17.0,87.0,186.0,180.0,400.0,290.0

In [54]:
fastfood.isnull()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
511,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
512,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
513,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False
514,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False