In [28]:
def mul(a,b):
    x = a*b
    return x
mul(4,5)

20

In [29]:
def diga_ola():
    print("ola!!")
diga_ola()
diga_ola()

ola!!
ola!!

### Titulo 2

## Titulo 2

In [30]:
def imc(peso, altura):
    imc = peso/altura**2
    return(imc, altura)

In [31]:
imc_raiana = imc(56.5, 1.64)
print(imc_raiana)

(21.006841165972638, 1.64)

In [32]:
x = 200
print("print A:",x)

def mostraX(x):
    print("print C:", x)
    x = 3
    print("print D:", x)

print("print B", x)
mostraX(10)
print("print E:", x)

print A: 200
print B 200
print C: 10
print D: 3
print E: 200

In [33]:
def calcular_imposto(salario, taxa=0.1):
    imposto = salario * taxa
    print("imposto de:", imposto)

calcular_imposto(5000, 0.15)
calcular_imposto(5000, 0.1)
calcular_imposto(5000)

imposto de: 750.0
imposto de: 500.0
imposto de: 500.0

In [34]:
cubo = lambda num: num **3
cubo(3)

27

In [35]:
multiplica = lambda x,y: x*y
multiplica(3,5)

15

In [25]:
frutas = ["Banana", "Pera", "Tomate"]
tamanhos = map(len, frutas)
print(list(tamanhos))

[6, 4, 6]

In [26]:
multiplos_3_e_5 = [i for i in range(20) if (i%3==0 or i%5==0)]
multiplos_3_e_5

[0, 3, 5, 6, 9, 10, 12, 15, 18]

In [27]:
sequencia = []
for i in range(len(multiplos_3_e_5)):
    if i%2==0:
        sequencia.append(i)
sequencia

[0, 2, 4, 6, 8]

In [38]:
from datetime import date
aniversario = date(1995, 6, 12)

1995-06-12